{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "relay"
  ],
  "env": {
    "server": {
      "plugins": [
        [
          "css-modules-transform", {
            "generateScopedName": "[name]__[local]___[hash:base64:5]"
          }
        ]
      ]
    }
  }
}